header {
background-color: #FBFAF2;
}


html{
	scroll-behavior: smooth;
}

header .img-fluid{
	height: 30px;

}

body{
	background-color: #FBFAF2;
}

.amma{
	height: 60px;
	
}


#Adri{
	background-image: url("../img/fotoadriana.jpeg");
    height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 400px;
	
}


#Adri2{
	background-image: url("../img/adriana.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 90px;
	padding-top: 50px;
	padding-bottom: -400px;
	background-size: contain;
	background-color: #FBFAF2;
	
}

.navbar-collapse{
	color: #000;
	text-decoration-color: #000;
	margin-right: -180px;
}



#Adri .img-fluid{
	height: 800px;

	}


#tituloserv{
	font-family: "Reem Kufi", sans-serif;
    font-size: 36px;
	text-align: center;
	padding: 100px;
	padding-bottom: 100px;
}


#servicios{
	text-align: center;
	font-family: "Reem Kufi", sans-serif;
	padding: 40px;
	font-size: 20px;
	padding-bottom: 30px;
}



#acercademi1{
	padding-top: 100px;
	padding-bottom: 100px;


}

	

#acercademi2 {
	padding-bottom: 30px;
	padding-left: -180px;
	padding-top: 90px;
	margin-left: -100px;
	margin-right: 5px;
	text-align: center;
	font-family: "Reem Kufi", sans-serif;
    font-size: 26px;
	
}





#portafolio{
	
	padding-bottom: 300px;
	padding-left: 60px;
	padding-top: 100px;
	margin-left: -100px;
	margin-right: -60px;
	text-align: center;
	font-family: "Reem Kufi", sans-serif;
    font-size: 30px;
	
}

#sec-icon{
	font-family: "Reem Kufi", sans-serif; 
}

#sec-servicios{
	padding: 183px;
	background-image: url( "../img/fotoparque.jpg");
	background-repeat: no-repeat;
	background-position:top;
    background-attachment: fixed;
	background-color: #EFEFEF;
	color:#fff;
	font-family: "Reem Kufi", sans-serif;
}




#contacto{
	font-family: "Reem Kufi", sans-serif;
	padding: 50px;
	padding-top: 50px;
	text-align: center;
	
}

#footer1 {
font-family: "Reem Kufi", sans-serif;	
	
}

#footer2{
font-family: "Reem Kufi", sans-serif;	
	
}



#redes{
	margin-left: -320px;
	padding: 50px;
	text-align: center;
	
}



.cafe{
background-size: -3px;
}


